* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(226, 226, 226);
  color: #333;
}

nav {
  height: 100px;
  padding: 2rem 4rem;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 /0.1);
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  font-style: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-basis: 150px;
}

nav a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: text-decoration 0.1s ease-in-out, color 0.1s ease-in-out;
}

nav a:hover {
  text-decoration: underline;
  color: red;
}

nav img {
  width: 25px;
}

nav img:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

/* ==================================================================== */

body {
  text-transform: capitalize;
}

main {
  width: max-content;
  margin-inline: auto;
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.row {
  display: flex;
  gap: 0.5rem;
}

.col {
  width: 100px;
  height: 100px;
  border: 1px solid #999;
  background-color: rgb(201, 201, 201);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgb(0 0 0 /0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: black;
  text-transform: uppercase;
  transition: transform 0.1s ease-in-out;
}

.col:hover {
  background-color: rgb(216, 216, 216);
  transform: scale(103%);
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgb(107, 107, 107);
  outline: none;
  background-color: rgb(107, 107, 107);
  color: #fff;
  text-transform: uppercase;
  box-shadow: 3px 3px 5px rgb(0 0 0 /0.1);
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.result {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
